{% extends "base.html" %}

{% block content %}
    <h2>Missing Ingredients</h2>
    <ol>
        {% for ingredient in missing_ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ol>

    <h2>Images with Predictions</h2>
    <div class="image-grid">
        {% for image_url, prediction in images_with_predictions %}
            <div class="image-item">
                <p>{{ prediction }}</p>
                <img src="{{ image_url }}" alt="{{ prediction }}">
            </div>
        {% endfor %}
    </div>

    <div>
        <a href="{{ url_for('index') }}">
            <button class="btn btn-secondary">Back to Start</button>
        </a>
    </div>
{% endblock %}

{% block body_class %}result-bg{% endblock %}
