{% extends "base.html" %}

{% block content %}
    <h2>Ingredients</h2>
    {{ ingredients_table | safe }}

    <h2>Recipe Instructions</h2>
    <ol>
        {% for sentence in sentences %}
            <li>{{ sentence }}</li>
        {% endfor %}
    </ol>

    <h2>Images with Predictions</h2>
    <div class="image-grid">
        {% for image_url, prediction in images_with_predictions %}
            <div class="image-item">
                <p>{{ prediction }}</p>
                <img src="{{ image_url }}" alt="{{ prediction }}">
            </div>
        {% endfor %}
    </div>

    <div>
        <a href="{{ url_for('index') }}">
            <button class="btn btn-secondary">Back to Start</button>
        </a>
    </div>
{% endblock %}
